/*首页内容区域*/
.content_top{
	width: 100%;
	height: 250px;
	padding: 20px;
}
.content_top>div{
	height: 100%;
}
div.one,div.two,div.three{
	height: 55px;
	background-color: #fff;
	margin-top: 10px;
}
div.circleDiv{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #63ba12;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	color: white;
	line-height: 40px;
	text-align: center;
}
div.circleDiv i{
	width: 30px;
	height: 30px;
	font-size: 24px;
}
div.one>span,div.two>span,div.three>span{
	font-size: 22px;
	font-weight: 500;
	margin-left: 10px;
}
div.circleDiv2{
	background-color: #7b2fc0;
}
div.circleDiv3{
	background-color: #3bb8ec;
}
div.contenttop_center div.zhexian{
	background-color: #fff;
	border: 1px solid red;
	margin-top: 10px;
	height: 185px;
}
div.contenttop_center div.contentright_top,
div.contenttop_center div.contentright_bottom{
	height: 85px;
	background-color: white;
}
.contentright_top{
	margin-top: 10px;
}
.contentright_bottom{
	margin-top: 15px;
}